# AI vs. Human Text Classification

This project builds a machine learning model to distinguish between text written by **humans** and **AI (e.g., ChatGPT)** using the Kaggle [AI vs Human Text](https://www.kaggle.com/datasets/shanegerami/ai-vs-human-text/data) dataset.

---

In [2]:

#!pip install kaggle

In [51]:

#!pip install kagglehub

Requirement already satisfied: kagglehub in /opt/anaconda3/lib/python3.12/site-packages (0.3.13)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.12/site-packages (from kagglehub) (24.1)
Requirement already satisfied: pyyaml in /opt/anaconda3/lib/python3.12/site-packages (from kagglehub) (6.0.1)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.12/site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.12/site-packages (from kagglehub) (4.66.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests->kagglehub) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests->kagglehub) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests->kagglehub) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests->kagglehub) (2025.1.31)

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: pip install --upgrade pip

In [1]:

import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import kagglehub
from kagglehub import KaggleDatasetAdapter

In [2]:

# local computer filepath
custom_kaggle_json_path = "/****/kaggle_api.json"

In [3]:

#code provided by kaggle website

# file path
file_path = "ai_vs_human_text.csv"

# Load the latest version
df = kagglehub.load_dataset(
  KaggleDatasetAdapter.PANDAS,
  "gulfan/ai-vs-human-text-classification-dataset",
  file_path,

)

print("First 5 records:", df.head())

First 5 records:    id                                               text  label  word_count  \
0   1        It always seems impossible until it's done.  human           7
1   2     She finished the challenging crossword puzzle.     ai           6
2   3  You can't use up creativity. The more you use,...  human          13
3   4  The journey of a thousand miles begins with a ...  human          11
4   5  Life is short, and it is up to you to make it ...  human          13

   char_count  avg_word_length  punctuation_density
0          43         5.285714             0.142857
1          46         6.833333             0.166667
2          65         4.076923             0.307692
3          58         4.363636             0.090909
4          52         3.076923             0.153846

In [4]:

#dataframe information and checks for sample dataset
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1299 entries, 0 to 1298
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   1299 non-null   int64
 1   text                 1299 non-null   object
 2   label                1299 non-null   object
 3   word_count           1299 non-null   int64
 4   char_count           1299 non-null   int64
 5   avg_word_length      1299 non-null   float64
 6   punctuation_density  1299 non-null   float64
dtypes: float64(2), int64(3), object(2)
memory usage: 71.2+ KB

,id,text,label,word_count,char_count,avg_word_length,punctuation_density
0,1,It always seems impossible until it's done.,human,7,43,5.285714,0.142857
1,2,She finished the challenging crossword puzzle.,ai,6,46,6.833333,0.166667
2,3,"You can't use up creativity. The more you use,...",human,13,65,4.076923,0.307692
3,4,The journey of a thousand miles begins with a ...,human,11,58,4.363636,0.090909
4,5,"Life is short, and it is up to you to make it ...",human,13,52,3.076923,0.153846

In [5]:

#save dataset

df.to_csv('/***/kaggle_dataset.csv')

df['label'].unique()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1299 entries, 0 to 1298
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   1299 non-null   int64
 1   text                 1299 non-null   object
 2   label                1299 non-null   object
 3   word_count           1299 non-null   int64
 4   char_count           1299 non-null   int64
 5   avg_word_length      1299 non-null   float64
 6   punctuation_density  1299 non-null   float64
dtypes: float64(2), int64(3), object(2)
memory usage: 71.2+ KB